table
{
border-collapse:collapse;
width:100%;
max-width:700px;
min-width:400px;
text-align:center;

}



#container 
{
   display: flex;
 	justify-content: space-around;
	min-height: 800px
 }


.barre_du_haut
{
	background-color: silver;
	color: white;
	display:flex;
	justify-content: space-around;
	align-items: stretch;
	height: 50px;
}

#zone_centrale
{
	display: flex;
	justify-content: space-around;
	min-height: 800px
}




.barre_de_gauche
{
	background-color:  #ADD8E6;
    order:1;
    display:flex;
    min-width: 200px;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;

}


.barre_centrale
{


display:flex;
flex-direction: column;
order:2;
background-color: white;
text-align: center;
width : 1000px;
justify-content: space-around;
margin: auto;

}


.barre_de_droite
{
	background-color: #B0C4DE;
    order:3;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}

#barre_du_bas
{	
	display: flex;
	justify-content: space-between;
	
}

.affichage_de_liste
{

    display:flex;
    justify-content: space-around;
    margin : auto;
    flex-direction: column;

}


h1 {

    display: flex;
    justify-content: center;
	background-color: transparent;
	border-color: blue;
	color: maroon;
	cursor: w-resize;
	font-style: italic;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
}

h2
{
    display: flex;
    justify-content: center;
}

h3 { 
   
	background-color: transparent;
	border-color: blue;
	color: blue;
	font-style: italic;
}	


body
{
    
    border: 3px solid black;
    
}


