 <div class= "section"> </div>
                               <div class= "section"> </div>
                               <div class= "section"> </div>
                               <div class= "section"> </div>
                               
                                <div class="col s12">
                                      <a class="btn-floating btn-large waves-effect waves-light orange gauche" >
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="revendications" id="bouton_revendications" cible="Tableau_revendication">record_voice_over</i>
                                     
                                      </a>
                                        <div class= "section"> </div>
                                       <div class= "section"> </div>
                              </div> 

                            
                                <div class="col s12">
                                      <a class="btn-floating btn-large waves-effect waves-light green gauche" >
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="pétitions" id="bouton_petitions" cible="Tableau_petition">format_align_center</i>
                                
                                      </a>
                                      <div class= "section"> </div>
                                      <div class= "section"> </div>
                              </div> 
                                
                                
                                <div class="col s12">
                                      <a class="btn-floating btn-large waves-effect waves-light purple gauche">
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="évènements" id="bouton_evenements" cible="Tableau_evenement" >event</i>
                                
                                      </a>
                                      <div class= "section"> </div>
                                      <div class= "section"> </div>
                              </div> 



<script>
</script>