{% load static %}

<div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>

                              <div class="col s12 droite">
                                 
                                      <a class="btn-floating right btn-large waves-effect waves-light pink lighten-1">
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="coups de mains" id="bouton_coups_de_main" >pan_tool</i>
                                     
                                      </a>
                                        
                              </div> 

                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                             
                              <div class="col s12 droite">
                                      <a class="btn-floating right btn-large waves-effect waves-light indigo darken-2">
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="documents" id="bouton_documents" >card_travel</i>
                                      </a>
                              </div> 
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>
                              <div class= "section"> </div>

                                <div class="col s12 droite">
                                      <a class="btn-floating right btn-large waves-effect waves-light  teal darken-2">
                                     <i class="material-icons tooltipped large" data-position="bottom" data-delay="0" data-tooltip="organisations" id="bouton_organisations" >group</i>
                                      <div class= "section"> </div>
                                      <div class= "section"> </div>
                                      </a>
                                </div>
