 <nav>
    <div class="nav-wrapper {{couleur}} lighten-3">
       <ul class= "left">      
          <li> 
              <i class="material-icons large" style="font-size: 50px">{{nom_logo}}</i> 
             </a> 
          </li>
        </ul>
        <ul class="center">
          <li > 
              <div class='brand-logo center'> {{titre}}  </div> 
          </li>
        </ul>
        <ul class="right">
          <li> 
              <div class="{{class}}" style="display: none" id="Bouton_formulaire_{{objet}}">
                <a href= "#" id = "ajouter_{{objet}}" class="btn-floating btn-large waves-effect waves-light {{couleur}} tooltipped" data-position="bottom" data-delay="0" data-tooltip="ajouter {{objet}}"><i class="material-icons ">add</i> </a>
              </div>

          </li> 
       </ul>
    </div>
  </nav>

















