{% load static %}

                                      <div class="row" id="choix_organisations">
                                          <div class="col s4">
                                            <a id = "bouton_mes_organisations" class="waves-effect waves-light btn teal">Mes organisations</a>
                                          </div>
                                          
                                          <div class="col s4">
                                            <a id = "bouton_toutes_les_organisations" class="waves-effect waves-light btn teal">Suggestions</a>
                                          </div>
                                        </div>



                                <div class="card white lighten-2" id="carte_organisations">
                                      <div class="card-content black-text" >
                                        <div class="titre_revendication">
                                        {% include "revendications/page_tableau_de_bord/entete_tableau.html" with titre="organisations" couleur="teal" nom_logo="format_align_center" objet="organisation"%}
                                      </div>
                                        <table class=" orange striped lighten-4 display centered" id="tableau_organisations">
                                        <thead>
                                          <tr class="teal" style="font-size: 25px; color: black;">
                                              <th>Nom</th>
                                              <th>Date de création</th>
                                              <th>Nombre de membres</th>
                                              <th>action</th>
                                              

                                          </tr>
                                        </thead>
                                        <tbody>
                                      {% for organisation in datas.organisations %}
                                          <tr class="teal lighten-3 {{organisation.mienne}}">
                                            <td ><a  style="color: black" href="page_organisation.html?organisation_id={{organisation.id}}">{{organisation.nom}}</a></td>
                                            <td >{{organisation.date_creation|date:"Y/m/d"}}</td>
                                            <td > {{organisation.nb_de_membre}}</td>                                          
                                          {% if organisation.mienne == "oui" %}
                                            <td><a href= "page_supprimer_soutien_organisation.html?organisation_id={{organisation.id}}&proposition_id={{proposition.id}}" id = "supprimer_soutien_organisation" class="btn-floating waves-effect waves-light orange tooltipped" data-position="right" data-delay="0" data-tooltip="ne plus soutenir"><i class="material-icons teal">thumb_down</i> </a>
                                            </td>
                                            {% else %}
                                            <td> 
                                              <a href= "page_soutenir_organisation.html?organisation_id={{organisation.id}}&proposition_id={{proposition.id}}" id = "soutenir_organisation" class="btn-floating waves-effect waves-light orange tooltipped " data-position="right" data-delay="0" data-tooltip="soutenir"><i class="material-icons teal"> thumb_up</i></a>
                                            </td>
                                            {% endif %} 
                                            
                                            </tr>  
                                      {% endfor %}  
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>  

                                  <script>

                                  carte_organisations = jQuery('#carte_organisations')
                                  ajouter_organisation = jQuery('#ajouter_organisation')
                                  bouton_toutes_les_organisations = jQuery('#bouton_toutes_les_organisations')
                                  bouton_mes_organisations = jQuery('#bouton_mes_organisations')



                                   bouton_mes_organisations.click(function() {
                                      
                                     
                                      jQuery(".oui").show();
                                      jQuery(".non").hide();
                                                });

                                    bouton_toutes_les_organisations.click(function() {
                                               
                                               
                                                jQuery(".non").show();
                                                jQuery(".oui").hide();
                                                          });

                                 dt = jQuery("#tableau_organisations").DataTable({
                            dom: 'lftrip',
                            language: {url: "{% static 'bower_components/DataTables/media/french.json' %}"} 
                      });
                                  //dt.column(5).visible(false);
                                  
                                  </script>
