 
{% load static %}

                                      <div class="row" id="choix_petitions">
                                          <div class="col s4">
                                            <a id = "bouton_mes_petitions" class="waves-effect waves-light btn green">Mes pétitions</a>
                                          </div>
                                          
                                          <div class="col s4">
                                            <a id = "bouton_toutes_les_petitions" class="waves-effect waves-light btn green">Suggestions</a>
                                          </div>
                                        </div>



                                <div class="card white lighten-2" id="carte_petitions">
                                      <div class="card-content black-text" >
                                        <div class="titre_revendication">
                                        {% include "revendications/page_tableau_de_bord/entete_tableau.html" with titre="Petitions" couleur="green" nom_logo="format_align_center" objet="petition"%}
                                      </div>
                                        <table class=" orange striped lighten-4 display centered" id="tableau_petitions">
                                        <thead>
                                          <tr class="green" style="font-size: 25px; color: black;">
                                              <th>Titre</th>
                                              <th>Date de création</th>
                                              <th>Echeance</th>
                                              <th>Objectif de signataires</th>
                                              <th>Nombre de signataires</th>
                                              <th>action</th>
                                              <th>mienne</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                      {% for petition in datas.petitions %}
                                          <tr class="green lighten-3 {{petition.mienne}}">
                                            <td ><a  style="color: black" href="page_petition.html?petition_id={{petition.id}}">{{petition.titre}}</a></td>
                                            <td >{{petition.date_creation|date:"Y/m/d"}}</td>
                                            <td > {{petition.date_echeance|date:"Y/m/d"}}</td>
                                            <td > {{petition.objectif_de_signataires}}</td>
                                            <td > {{petition.nb_signataires}}</td>
                                          
                                  

                                          {% if petition.mienne == "oui" %}
                                            <td><a href= "page_supprimer_soutien_petition.html?petition_id={{petition.id}}&proposition_id={{proposition.id}}" id = "supprimer_soutien_petition" class="btn-floating waves-effect waves-light orange tooltipped" data-position="right" data-delay="0" data-tooltip="ne plus soutenir"><i class="material-icons green">thumb_down</i> </a>
                                            </td>
                                            {% else %}
                                            <td> 
                                              <a href= "page_soutenir_petition.html?petition_id={{petition.id}}&proposition_id={{proposition.id}}" id = "soutenir_petition" class="btn-floating waves-effect waves-light orange tooltipped " data-position="right" data-delay="0" data-tooltip="soutenir"><i class="material-icons green"> thumb_up</i></a>
                                            </td>
                                            {% endif %} 
                                            <td > {{petition.mienne}}</td>  
                                            </tr>  
                                      {% endfor %}  
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>  

                                  <script>

                                  carte_petitions = jQuery('#carte_petitions')
                                  ajouter_petition = jQuery('#ajouter_petition')
                                  bouton_toutes_les_petitions = jQuery('#bouton_toutes_les_petitions')
                                  bouton_mes_petitions = jQuery('#bouton_mes_petitions')



                                   bouton_mes_petitions.click(function() {
                                      
                                     
                                      jQuery(".oui").show();
                                      jQuery(".non").hide();
                                                });

                                    bouton_toutes_les_petitions.click(function() {
                                               
                                               
                                                jQuery(".non").show();
                                                jQuery(".oui").hide();
                                                          });

                                 dt = jQuery("#tableau_petitions").DataTable({
                            dom: 'lftrip',
                            language: {url: "{% static 'bower_components/DataTables/media/french.json' %}"} 
                      });
                                  //dt.column(5).visible(false);
                                  
                                  </script>
