 {% load static %}

              <nav class="white" role="navigation">
                        <div class="nav-wrapper container">
                            <ul class="left hide-on-med-and-down">
                                <a href="" class="brand-logo center"><img class="materialboxed" width="100" src="{%  static 'revendication/images/logo_varthing.png' %}" /> </a>
                                <li><a href="{% url 'page_accueil' %}" style="color: black" id="accueil">accueil</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'page_tableau_de_bord' %}" style="color: black" id="tableau_de_bord">tableau de bord</a></li>
                                {% endif  %}
                                <li class="active"><a href="collapsible.html"></a></li>
                                {{cle}}

                              </ul>

                            <ul class="right hide-on-med-and-down">
                              <li><a href="#">A propos {{cle}} </a></li>

                              {% if user.is_authenticated %}
                              <li><a href="{% url 'page_deconnexion' %}" style="color: black">se déconnecter</a></li>
                              {% else %}
                              <li><a href="{% url 'page_authentification' %}" style="color: black">Connexion</a></li>
                              <li><a href="{% url 'page_creer_utilisateur' %}" style="color: black">Inscription</a></li>
                              {% endif %}
                            </ul>

                         </div>

                  </nav>


                  <script>  
                     var cle = "{{cle}}"
                     cle = "#" + cle
                     jQuery(cle).css("color", 'blue')  
                  </script>