{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>Bienvenue sur Varthing</title>
    </head>
    
    <body>
            <header>
                <div class="barre_du_haut">
                    <div class="element1"><a href="creation_utilisateur">authentification/inscription</a></div>

                    
                    <div class="element"><a href="accueil_varthing.php">accueil</a></div>
                    <div class="element"><a href="consulter.php">consulter</a></div>
                    <div class="element"><a href="militer.php">militer</a></div>
                    <div class="element"><a href="s'organiser.php">s'organiser</a></div>
                    <div class="element"><a href="consulter.php">consulter</a></div>
                </div> 
            </header>
            
        
            
            <section>
                <div class="titre_principal">
                    <div class="logo">
                        <img src="{% static "revendications/images/logo_galaxie.png" %}" alt="logo_galaxie"/>  
                    </div>
                    <h1>Varthing</h1>  
                    <h2>Agissons ensemble !</h2>
                </div>
            </section>
            
            <footer>
               Page d'accueil 
            </footer>
        </div>
    </body>
</html>
