 <div id="dialog_formulaire_petition"  title="creation d'une nouvelle pétition">
                                             
                                              <form  id="formulaire_petition" action="page_creer_petition?id_proposition={{datas.proposition.id}}" method="post">
                                                  {% csrf_token %}
                                                  {{datas.formulaires.petition}}
                                                  <ul>
                                                  {% comment %}
                                                  {% endcomment %}  
                                                  <input id="form_validation" type="submit" tabindex="-1" style="position:absolute; top:-1000px" >
                                              </form>     
                                          
</div>