{% extends "revendications/base.html" %} 
{% load static %}
                 
  


{% block barre_de_gauche%}  
<div class="barre_de_gauche">
{% if user != None %}
	<INPUT TYPE="button" NAME="deconnexion" VALUE="se deconnecter" onclick = "document.location.href = 'http://localhost:8000/revendication/deconnexion'">
{% else %}
	<INPUT TYPE="button" NAME="connexion" VALUE="creer un compte" onclick = "document.location.href = 'http://localhost:8000/revendication/creation_utilisateur'">
	<INPUT TYPE="button" NAME="connexion" VALUE="authentification" onclick = "document.location.href = 'http://localhost:8000/revendication/authentification'">

{% endif %}

</div>    
{% endblock %}                            	
                            

{% block barre_centrale%}  
	<div class="barre_centrale">
	{% if user != None %}
		<h1>Bienvenue <strong>{{user.username}}</strong></h1>
	{% else %}
		<h1>Bienvenue !</h1>
	{% endif %}
	<div class="logo">
	        <img src="{% static "revendications/images/logo_galaxie.png" %}" alt="galaxie"/> 
	    </div> 
	</div>    
{% endblock %}  