{% extends "revendications/militer.html" %} 
{% load static %}
                                

{% block barre_centrale %}  

            <h1>{{profil.utilisateur}}</h1>



            
            

            <p> revendications: {% for proposition in profil.revendications %}
				 
			<div> proposition: {{proposition}}</div>
		
    		{% endfor %}
    		</p>
            


            <p> documents: {{profil.documents}}</p>
            <p> organisations: {% for organisation in organisations %}
				 
			<div> organisation: {{organisations.organisation}}</div>
		
    		{% endfor %}



            </p>


            <p> actualites: {{profil.actualites}}</p>
            <p> suggestions: {{profil.suggestions}}</p>
        

{% endblock %}