{% load static %}
<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Varthing - Le réseau social qui vous permet d'agir">

    <title>{% block title %}Varthing{% endblock %}</title>


    <link rel="stylesheet" type="text/css" href="{% static 'revendication/css/revendication.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'revendication/css/base.css' %}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'revendication/fullcalendar-3.5.1/fullcalendar.min.css' %}"/>


    {% block styles %}{% endblock %}

    {% block content %}{% endblock %}
    

  
  </body>
</html>