{% extends "revendications/consulter.html" %} 
{% load static %}



{% block barre_de_gauche %}  
	<a href="{% url 'consult_revendications' %}" style="color:blue;"  >  revendications </a>
	<a href="{% url 'consult_organisations' %}" style="color:blue;"  >  organisations </a>
{% endblock %}                            	
               




{%block barre_de_droite%}
	{% for proposition in propositions %}

		<input type="button" id="proposition_affichee" value="{{proposition.ennonce}} " onclick="document.location.href = '{% url 'proposition_detail' proposition.id %}'"> </input>
	
	{% endfor %}
{% endblock %}
    
  



