{% extends "revendications/militer.html" %} 
{% load static %}



{% block barre_de_gauche %}  
	<a href="consult_revendication" style="color:red; font-size: 22px"  >  revendications </a>
    <a href="consult_organisations" style="color:blue;"  >  organisations </a>   
{% endblock %}                            	
               


{% block barre_centrale %}  
	<div> <h1>Navigation interactive</h1> </div>
 	<div class="logo">
        <img src="{% static "revendications/images/carte.png" %}" alt="carte"/> 
    </div>
{% endblock %}

{%block barre_de_droite%}
    	{% for proposition in propositions %}
				 
				    <input type="button" id="proposition_affichee" value="{{proposition.ennonce}} " onclick = "
					document.location.href = 'http://localhost:8000/revendication/proposition_detail.html?nom={{proposition.id}}';
				    "> </input>
		
    	{% endfor %}
{% endblock %}
    
  



