{% extends "revendications/militer.html" %} 
{% load static %}



{% block barre_de_gauche %}  
	<a href="consult_revendication" style="color:blue"  >  revendications </a>
    <a href="consult_organisations" style="color:red; font-size: 22px"  >  organisations </a>   
{% endblock %}                            	
               


{% block barre_centrale %}  
	<div> <h1>Consulter les organisations</h1> </div>
 	<div class="logo">
        <img src="{% static "revendications/images/carte.png" %}" alt="carte"/> 
    </div>
{% endblock %}

{%block barre_de_droite%}
    	{% for organisation in organisations %}
				 
				    <input type="button" id="organisation_affichee" value="{{organisation.profile.utilisateur.username}} " onclick = "
					document.location.href = 'http://localhost:8000/revendication/afficher_une_organisation.html?id_organisation={{organisation.profile.utilisateur.id}}';
				    "> </input>
		
    	{% endfor %}
{% endblock %}
    
