{% extends "revendications/base.html" %} 
{% load static %}
                
  
{% block barre_de_gauche%}  
  <a href="{% url 'consult_revendications' %}" style="color:blue;"  >  revendications </a>
  <a href="{% url 'consult_organisations' %}" style="color:blue;"  >  organisations </a>

{% endblock %}                            	
                            

{% block barre_centrale%}  

<div id="container">  </div>

<script src="/static/revendications/css/sigma/sigma.min.js"></script>

<script src="/static/revendications/css/sigma/sigma.parsers.json.min.js"></script>

<script>
  sigma.parsers.json('fichier_data.json', {
    container: 'container',
    settings: {
      defaultNodeColor: '#ec5148'
    }
  });
</script>

{% endblock %} 








