

{% load static %}





<head>


 <!-- inclusion des libraries jQuery et jQuery UI (fichier principal et plugins) -->
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    
 </body>
</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h1>Page pour creer une revendication</h1>


 <form>
    <input type="text" id="recherche"/> vérifier si votre idée n'existe pas dans le champ de recherche
    <input type="button" id="lien" value="aller sur la page de cette proposition" />
    <p>
    <input type="text" id="tags"/> entrez un mot correspondant à votre proposition
      <input type="button" id="nouveau_tag" value="nouveau tag" onclick= 
      		"
      		if (typeof liste == 'undefined')
      		{
      		var liste = '';
      		alert ('ok');
      		}
      		else
      		{
      		var tags = document.getElementById('tags');
      		liste = liste + '/' + tags.value;
      		tags.value = '';
      		var liste_tag = document.getElementById('liste_tag');
      		liste_tag.value = liste;
      		}
      		"/>
      
  </p>

</form>



<input id ="liste_tag" type="text"/> liste des tags ajoutés />




	<script>
	 

            	var completion = "{{liste}}"
                var reg=new RegExp("_", "g");
                var tableau=completion.split(reg);


                $('#recherche').autocomplete({source : tableau});
                var lien = document.getElementById('lien');
                var recherche = document.getElementById('recherche');
                lien.onclick = function() {
                document.location.href = "consult_revendications.html?ennonce=" + recherche.value
                 };

    

    </script>


<form2>
<form action="/revendication/creer_une_revendication.html " method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Valider" onclick= 
    	"alert ('merci d avoir crée une revendication');
    	document.location.href = 'http://localhost:8000/revendication/mes_rendications.html'"
    	/>
</form>
</form2>