{% load static %}



<head>
<link rel="stylesheet" href="{% static '/gestion_patient/css/formulaire.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h1>Super Page pour creer un evenement</h1>

{{id_proposition}}

<form2>
<form action="/revendication/creer_un_evenement.html?id_proposition={{id_proposition}} " method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Valider" onclick= 
    	"alert ('merci d avoir crée un évenement');
    	"  />
</form>
</form2>