{% extends "revendications/consult_revendications.html" %} 
{% load static %}

{% block barre_de_gauche %}  
    <a href="{% url 'consult_revendications' %}" style="color:blue;"  >  revendications </a>
    <a href="{% url 'consult_organisations' %}" style="color:blue;"  >  organisations </a>
{% endblock %}                              
               


{% block barre_centrale %}  

            <h1>{{evenement.titre}}</h1>

            {%for participant in participants %}
            <p> participants: {{participant}}</p>
            {% endfor %}

            <p>lieu :{{evenement.lieu}}</p>

             <p>date :{{evenement.date}}</p>

            <p>Proposition:{{evenement.proposition}}</p>

             <p>desctiption :{{evenement.description}}</p>
           

{% endblock %}




{%block barre_de_droite%}
        <INPUT TYPE="button" NAME="participer" VALUE="Participez à cet evenement" onclick = "document.location.href = 'http://localhost:8000/revendication/participer_a_un_evenement.html?id_evenement={{evenement.id}}'"> 
        </INPUT> 

        {{proposition.id}}
{% endblock %}
