{% extends "revendications/consult_revendications.html" %} 
{% load static %}

{% block barre_de_gauche %}  
    <a href="{% url 'consult_revendications' %}" style="color:blue;"  >  revendications </a>
    <a href="{% url 'consult_organisations' %}" style="color:blue;"  >  organisations </a>
{% endblock %}                              
               


{% block barre_centrale %}  

            <h1>{{competence.titre}}   <i> ( créée par {{competence.createur}})</i></h1>

            <p>Date de création :{{competence.date_creation}}</p>
            <p>Date d'échéance :{{competence.date_echeance}}</p>

            <p>Revendication(s) liée(s) :</p>
            <ul>
            {%for prop in propositions %}
                <li>{{prop}}</li>
            {% endfor %}
            </ul>

            <p>Description :<br/>{{competence.description}}</p>

            <p>Personnes compétentes:</p>
            <ul>
                {%for signataire in signataires %}
                <li>{{signataire}}</li>
                {% endfor %}
            </ul>

{% if message %}
<script>
alert ("{{message}}");
</script>
{% endif %}

           

{% endblock %}




{%block barre_de_droite%}
       <INPUT TYPE="button" NAME="proposer_votre_competence" VALUE="Proposez votre competence" onclick = "document.location.href = 'http://localhost:8000/revendication/signer_une_competence.html?id_competence={{competence.id}}'"> 
        </INPUT>


        {{proposition.id}}
{% endblock %}
