{% extends "revendications/consult_revendication.html" %} 
{% load static %}

{% block barre_de_gauche %}  
    <a href="consult_revendication" style="color:red; font-size: 22px"  >  revendications </a>
    <a href="consult_organisations" style="color:blue;"  >  organisations </a>   
{% endblock %}                              
               


{% block barre_centrale %}  

            <h1>{{petition.titre}}</h1>

            <p>Signataires</p>
            <ul>
                {%for signataire in signataires %}
                <li>{{signataire}}</li>
                {% endfor %}
            </ul>

            <p>Nombre de signataires : {{petition.nb_signataires}}<br/>
            Nombre de signataires à atteindre : {{petition.objectif_de_signataires}}<br/>
            Taux d'atteinte de l'objectif : {{petition.taux_objectif}} %</p>

            <p>date de création :{{petition.date_creation}}</p>
            <p>date d'échéance :{{petition.date_echeance}}</p>

            <p>Revendication(s) liée(s) :</p>
            <ul>
            {%for prop in propositions %}
                <li>{{prop}}</li>
            {% endfor %}
            </ul>

             <p>desctiption :{{petition.description}}</p>
           

{% endblock %}




{%block barre_de_droite%}
       <INPUT TYPE="button" NAME="signer_une_petition" VALUE="Signer cette pétition" onclick = "document.location.href = 'http://localhost:8000/revendication/signer_une_petition.html?id_petition={{petition.id}}'"> 
        </INPUT>


        {{proposition.id}}
{% endblock %}
