
	
{% extends "revendications/militer.html" %} 
{% load static %}

<h1> {{propositions2}} </h1>

   
    {% block barre_de_gauche %}
		<input type=button id="creer_revendication" value ="créer une revendication" onclick ="document.location.href = 'creer_une_revendication'">

     {% endblock %}  
  

     {% block barre_centrale %}
     <div class = "barre_centrale">
        <div class = "affichage_de_liste">
         	 <h3> Les revendications dont je suis l'auteur:</h3> 
             	{% for proposition in propositions %}
             		<div> proposition: {{proposition}} (id {{proposition.id}})</div>
             	{% endfor %}
		 </div>
		 <p>
		 <p>
		 <div class = "affichage_de_liste">
		    <h3> Les revendications auxquelles j'adhère:</h3> 
             	{% for proposition in propositions2 %}
             		{% comment %}<div> proposition: {{proposition}} <a href="{% url 'detail_petition' pet.id %}">[Détails]</a></div>{% endcomment %}
                    <div> proposition: {{proposition}} (id {{proposition.id}})</div>
             	{% endfor %}
        </div>
         <div class = "affichage_de_liste">
		    <h3> l'utilisateur dont je suis le plus proche: {{utilisateur_le_plus_proche}}</h3> 
        </div>

         <div class = "affichage_de_liste">
		    <h3> Les revendications qui pourraient m'interesser:</h3> 
             	{% for proposition in propositions_interessantes %}
             		<input type="button" id="proposition_affichee" value="{{proposition.ennonce}} " onclick = "
			document.location.href = 'http://localhost:8000/revendication/proposition_detail.html?nom={{proposition.id}}';
		    "> 
             	{% endfor %}
        </div>
        </div>
   
      {% endblock %}   
    
              

   
		      






