{% extends "revendications/militer.html" %} 
{% load static %}

{% block barre_de_gauche %}
        <input type=button id="creer_un_evenement" value ="crée un evenement" onclick ="document.location.href = 'creer_un_evenement'">
{% endblock %}  

{% block barre_centrale %}
     
{%for evenement in evenements%}
    <input type=button id="detail_evenement" value = "{{evenement}}" onclick ="
			document.location.href = '{% url 'detail_evenement' evenement.id %}';
		    ">
{%endfor%}
   
{% endblock %}   
 