{% extends "revendications/page_type.html" %} 
{% load static %}
                 
                                                


 {% block image_parallax %}
  <div class="parallax-container valign-wrapper">
                            <div class="parallax"><img src="/static/revendication/images/militant.jpeg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 268px, 0px);"></div>
                            </div>   
{% endblock %}



{% block titre_central%}
PARTICIPER
{% endblock %}


 {% block menu_gauche %}
{% endblock %} 


 {% block contenu_central%}
  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>


  <div class="row">
        <div class="col s12 ">
          <div class="card #ef5350 red lighten-1 ">

            <div class="card-content white-text">
              <span class="card-title">Soyez actifs !</span>
              <p>Consultez et modifiez vos revendications, pétitions, évènements...</p>
			<div class="card-action">
             <div class="col s4 offset-s4"> 
                           
		                                  <a class='dropdown-button btn'  href='#' data-activates='dropdown1'>AGIR !</a>

		                                  <!-- Dropdown Structure -->
		                              <ul id='dropdown1' class='dropdown-content'>
		                               <li><a href="{% url 'afficher_mon_profil' %}"> mon profil</a></li>
		                               <li><a href="{% url 'mes_organisations' %}"> mes organisations</a></li>
		                               <li><a href="{% url 'mes_revendications' %}"> mes revendications</a></li>
		                               <li><a href="{% url 'mes_petitions' %}"> mes pétitions</a></li>
		                               <li><a href="{% url 'mes_evenements' %}"> mes évenements</a></li>
		                    
		                                
		                              </ul>
		                                                 
		                        
                              </div>
            </div>
            </div>
          </div>
        </div>
      </div>


    <div class= "section"> </div>
    <div class= "section"> </div>
    <div class= "section"> </div>
    <div class= "section"> </div>
    <div class= "section"> </div>

  {% endblock %}



