{% extends "revendications/base.html" %} 
{% load static %}
                 
                            	
 militer.style.color ="red"; militer.style.fontSize ="22px"                           

{% block barre_centrale%}  
		page pour militer
	<div class="logo">
    	<img src="{% static "revendications/images/poing.png" %}" alt="poing"/> 
    </div>
{% endblock %}  


{% block barre_de_gauche%}  

	<INPUT TYPE="button" NAME="mon_profil" VALUE="mon profil" onclick = "document.location.href = 'http://localhost:8000/revendication/afficher_mon_profil.html'">
	<INPUT TYPE="button" NAME="mes_organisations" VALUE="mes organisations" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_organisations.html'">
	<INPUT TYPE="button" NAME="mes_revendications" VALUE="mes revendications" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_revendications'">
	<INPUT TYPE="button" NAME="mes_petitions" VALUE="mes pétitions" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_petitions.html'">
	<INPUT TYPE="button" NAME="mes_demandes_de_competence" VALUE="mes demandes de competences" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_competences.html'">
	<INPUT TYPE="button" NAME="mes_evenements" VALUE="mes evenements" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_evenements.html'">
	<INPUT TYPE="button" NAME="mes_documents" VALUE="mes documents" onclick = "document.location.href = 'http://localhost:8000/revendication/mes_documents.html'">

{% endblock %}  