{% extends 'revendications/page_tableau_de_bord.html' %}
{% load static %}

{% block rubrique_titre %}
{% endblock rubrique_titre %}




       <!-- barre de navigation -->
      {% block haut %}
        {% include "revendications/page_accueil/barre_navigation.html" with datas=datas %}  
      {% endblock haut %}


      <!--  formulaires-->
      

          {% block formulaire %}
            <div id="Formulaires" style="display: none">
              
              {% include "revendications/page_tableau_de_bord/formulaire_generique.html" with objet="evenement" titre="creation d'une nouvel evenement" formulaire=datas.formulaires.evenement datas=datas %}

              {% include "revendications/page_tableau_de_bord/formulaire_generique.html" with objet="petition" titre="creation d'une nouvelle petition" formulaire=datas.formulaires.petition datas=datas %}
             
               {% include "revendications/page_tableau_de_bord/formulaire_generique.html" with objet="competence" titre="creation d'une nouvelle competence" formulaire=datas.formulaires.competence datas=datas %}
              
              {% include "revendications/page_tableau_de_bord/formulaire_generique.html" with objet="document" titre="creation d'un nouveau document" formulaire=datas.formulaires.document datas=datas %}

            </div>
          {% endblock formulaire %}
      


{% block droite %}
{% endblock droite %}


{% block gauche %}
{% endblock gauche %}


{% block autres_scripts %}  
      <script src="{% static "revendication/js/affichageGraphique.js" %}"> </script>                              
     <script src="{% static "revendication/js/pageRevendication.js" %}"> </script>
{% endblock autres_scripts %}








   

                             
        





