
{% extends 'revendications/page_type.html' %}a
{% load static %}




{% block titre_central%}
   <div class="row">
                               <div class="col s12">  
                                  TABLEAU DE BORD
                                  <div class= "section"> </div>
                                  <div class= "section"> </div>
                               </div>

                            <div class="col s3">
                                      <a class="btn-floating btn-large waves-effect waves-light red">
                                     <i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="mes documents" >card_travel</i>
                                      </a>
                              </div> 

                              <div class="col s3">
                                      <a class="btn-floating btn-large waves-effect waves-light red">
                                     <i class=" material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="les news" >fiber_new</i>
                                      </a>
                              </div> 
                
                              <div class="col s3">
                                    <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="les demandes de compétences"  >fitness_center</i>
                                  </a>
                              </div>             
                                   
                            <div class="col s3">        
                              <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="bottom" data-delay="0" data-tooltip="creer une revendication"> 
                                <i class="material-icons left">
                                  add 
                                </i> 
                              </a>
                            </div>

                           
{% endblock %}


{% block milieu %}


 


  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>




       <div class="row">

  <!--Zone de gauche-->  

                 

                  <div class="col s3" >
                            <div class="card grey lighten-2" style= "height: 300px">
                              <div class="card-content black-text">
                                <span class="card-title" > suggestions: </span>
                                 <div class="carousel">
                                    {% for proposition in datas.suggestions %}
                                      <a class="carousel-item" style="height: 400px" href="page_revendication.html?ennonce={{proposition}}">
                                        <div class="card red lighten-2" >
                                          <div class="card-content white-text">
                                           <h5>{{proposition}} </h5>
                                          </div>
                                        </div>
                                      </a> 
                                     {% endfor %}
                                </div>
                              </div>
                            </div>


                            <div class="card grey lighten-2" style= "height: 350px">
                              <div class="card-content black-text">
                                      <a class="btn-floating btn-large waves-effect waves-light red tooltipped right"       data-position="bottom" data-delay="0" data-tooltip="creer une revendication"> 
                                            <i class="material-icons right">
                                              add 
                                            </i> 
                                      </a>
                                <span class="card-title center">mes revendications</span>
                                
                                    {% for proposition in datas.revendications %}
                              
                                             <li>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></li>
                                         
                                     {% endfor %}
                                 
                                </div>
                              </div>


                              <div class="card grey lighten-2" style= "height: 350px">
                              <div class="card-content black-text">
                                        <a class="btn-floating btn-large waves-effect waves-light red tooltipped right"     data-position="bottom" data-delay="0" data-tooltip="creer une pétition"> 
                                          <i class="material-icons right">
                                            add 
                                          </i> 
                                      </a>
                                <span class="card-title center">mes pétitions</span>
                                 <ul>
                                    {% for petition in datas.petition %}
                                    <li>{{petition.titre}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              </div>

                  </div>



  <!--Zone de gauche-->

  <!--ZONE DU MILIEU-->
                  

                <div class="col s6"> 
                    <div class="row">
                        
                    <!--filtres--> 

                        <div class="col s6"> 
                          <nav>
                            <div class="nav-wrapper">
                              <ul class="left hide-on-med-and-down">
                                <li> <a id="acceuil"> tout </a> </li>
                                <li> <a id="populaire"> populaire </a> </li>
                                <li> <a id="utilisateur"> utilisateur </a> </li> 
                                
                              </ul>
                            </div>
                          </nav>
                           <div class= "section"> </div>
                           <div class= "section"> </div>
                         </div> 



                    <!--graph-->        

                          <div class="col s12"> 
                                <div class = "container"  style= 
                                    "
                                    height : 100%;
                                    width : 100%;
                                  
                                    " 
                                    id = "container">

                                   
                                  </div> 

                                    <div class= "section"> </div>
                                    <div class= "section"> </div>
                                    <div class= "section"> </div>
                        

                                    <div class="row">
                                      <div class="col s10">          
                                          <nav>
                                            <div class="nav-wrapper">
                                              <form>
                                                <div class="input-field">
                                                  <input type="search" id="recherche">recherche
                                                  <label class="label-icon" for="search" ><i class="material-icons" >search</i> </label>
                                                  <i class="material-icons">close</i>
                                                </div>
                                              </form>
                                            </div>
                                          </nav>
                                      </div>
                                        
                                        <div class="col s2"> 
                                          <a  id="lien" class="btn-floating btn-large waves-effect waves-light red tooltipped right"     data-position="bottom" data-delay="0" data-tooltip="go !"> 
                                            <i class="material-icons right">
                                              arrow_forward 
                                            </i> 
                                          </a>
                                       
                                        </div>
                                    </div>
               
                            </div       
                

                            <div class= "section"> </div>
                             <div class= "section"> </div>
                              <div class= "section"> </div>
                               <div class= "section"> </div>
                                <div class= "section"> </div>
                  

                            
                     </div>  

  <!--FIN ZONE DU MILIEU-->


  <!--Zone de droite-->


                   <div class="col s3">
                            <div class="card grey lighten-2" style="height: 500px">
                                  <div class="card-content black-text">
                                    <div id="calendar"></div>
                                  </div>               
                            </div>

                              
                            <div class="card grey lighten-2" style="height: 500px">
                                <div class="card-content black-text">
                                     <a class="btn-floating btn-large waves-effect waves-light red tooltipped right" data-position="bottom" data-delay="0" data-tooltip="creer un évènement"> 
                                        <i class="material-icons right">
                                          add 
                                        </i> 
                                      </a>
                                    <span class="card-title">mes évenements 
                                    </span>
                                   
                                   {% for evenement in datas.evenements %}
                                    <li>{{evenement.titre}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></li>
                                    {% endfor %}
                                     
                                </div> 
                            </div>
                         
                  </div>
        </div>

  <!--Fin zone de droite--> 


{% endblock milieu %}

