{% extends 'revendications/page_type.html' %}
{% load static %}


{% block titre_central%}
Accueil
{% endblock %}




 {% block image_parallax %}
{% endblock %}


{%block option1%}
 <a class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons" onclick = "document.location.href = 'page_creer_revendication'">add</i></a> Je crée une revendication
 {% endblock %}
 



{% block contenu_central%}





  <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>

 <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" onclick = "document.location.href = 'page_creer_revendication'">add</i></a> Je crée une revendication

	<div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Dernières revendications crées</span>
              {% for proposition in dernieres_revendication_creees %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition.ennonce}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
          
          </div>
        </div>
      </div>

      <div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Les revendications les plus populaires</span>
              {% for proposition in propositions_populaires %}
                <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition.ennonce}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
        
          </div>
        </div>
      </div>

        <div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Les revendications en forte accélération !</span>
   		
             {% for proposition in proposition_en_acceleration %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition.ennonce}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}
              
             

            </div>
          </div>
        </div>
      </div>

      

{% endblock %}




