{% extends 'revendications/page_revendication.html' %}
{% load static %}

{% block rubrique_titre %}
{% endblock rubrique_titre %}


{% block haut %}
  <!-- Boutons creation formulaires-->
  <div class="section"></div>
  <nav>
    <div class="nav-wrapper grey lighten-3">
        

      <ul class="right ">
        {% if datas.soutenue == "oui" %} 
             <li> <a href= "#" class="btn  btn-large waves-effect waves-light blue"> Vous soutenez </a>
            {% endif %}  </li> 
        {% if datas.soutenue == "oui" %} 
        <li><a href= "page_supprimer_soutien_evenement.html?evenement_id={{datas.evenement.id}}&page=revendication" id = "supprimer_soutien_revendication" class="btn   waves-effect waves-light purple tooltipped" data-position="right" data-delay="0" data-tooltip="ne plus soutenir"><i class="large material-icons purple"> thumb_down</i></a></li>
        {% else %}
        <li>
          <a href= "page_soutenir_evenement.html?evenement_id={{datas.evenement.id}}&page=revendication" id = "supprimer_soutien_revendication" class="btn waves-effect waves-light purple tooltipped" data-position="right" data-delay="0" data-tooltip="soutenir"><i class="large material-icons purple"> thumb_up</i></a>
        </li>
        {% endif %}
      </ul>
    </div>  
  </nav>   
  <div class="section"> </div>   
{% endblock haut %}

{% block milieu_haut %}
{% endblock milieu_haut %}

{% block gauche %}
{% endblock gauche %}


    {% block autre %}
        <div class="card white lighten-2" id="l_evenement">
          <div class="card-content black-text">
            <span class="card-title center"><h3 style="color:purple"> {{datas.evenement.titre}}</h3></span> 
            <div class="row">
              <div class="col s12">
               <h5> proposé par {{datas.evenement.createur}}</h5> 
              </div>
            </div>
          </div>
        </div>

      <div clas="row">
          <div class="col s12" style="heigth: 500px">
           <div class="card white lighten-2" id="statistiques">
              <div class="card-content black-text">
                <span class="card-title"></span>
                 <p><a class="btn purple " href="#"> participants : {{datas.evenement.nb_participant}}</a></p>
                 <div class= "section"> </div>
                 <p><a class="btn purple " href="#"> lieu : {{datas.evenement.lieu}}</a></p>
                 <div class= "section"> </div>
                 <p><a class="btn purple " href="#"> description : {{datas.evenement.description}}</a></p>
                  <div class="section"> </div>
                  <p><a class="btn purple " href="#"> date : {{datas.evenement.date}}</a></p>
                  <div class="section"> </div>
                  <p><a class="btn orange right" href="page_revendication.html?proposition_id={{datas.evenement.proposition.id}}"> proposition en rapport: {{datas.evenement.proposition.ennonce}}</a></p>
              </div>
            </div>
          </div>
      </div>
  {% endblock autre %}

{% block autres_scripts %}
<script>
</script>
{% endblock autres_scripts %}

      

                             
        





