{% extends 'revendications/page_accueil.html' %}
{% load static %}


{% block titre_central%}
{{data_proposition.proposition.ennonce}}
{% endblock %}


                <li>
                          
                      {% block option1 %}
                      {% if s %}
                        Revendication soutenue
                      {% else %}
                      <a class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons" onclick = "document.location.href = 'page_soutenir_revendication?ennonce={{data_proposition.proposition.ennonce}}'
                      " >add</i></a> JE SOUTIENS
                      {% endif %}
                      {% endblock %}
                </li>
                
                <li>{% block option2 %}<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" onclick = "document.location.href = 'page_creer_petition?ennonce={{data_proposition.proposition.ennonce}}">add</i></a> PETITION {% endblock %} </li>
                <li class="divider"></li>


                <li>{% block option3 %}<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" onclick = "document.location.href = 'page_creer_evenement?ennonce={{data_proposition.proposition.ennonce}}>add</i></a> EVENEMENT {% endblock %} </li>

               

                <li>{% block option4 %}<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" onclick = "document.location.href = 'page_creer_competence?ennonce={{data_proposition.proposition.ennonce}}'>add</i></a>COMPETENCE  {% endblock %} </li>
               
                
                {% block option5 %}{% endblock %}


        


                             
          </div>

                    



 {% block image_parallax %}
{% endblock %}



{% block contenu_central%}
<div class= "section"> </div>
<div class= "section"> </div>
<div class= "section"> </div>







       <div class="row">
      <div class="col s12">
<div class= "section"> </div>
<div class= "section"> </div>
<div class= "section"> </div>
      	</div>


          <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Revendications les plus proches</span>
              {% for proposition in propositions_proches %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
           
          </div>
        </div>
      </div>

      <div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Soutiens</span>
              {% for soutien in data_proposition.soutiens %}
              <p>{{soutien}}</p>
              {% endfor %}

            </div>
            
          </div>
        </div>
      </div>

        <div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>


  <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Petitions</span>
              {% for petition in data_proposition.petitions %}
              <p>{{petition}}</p>
              {% endfor %}

            </div>
            
          </div>
        </div>
      </div>

        <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>




  <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Evenements:</span>
              {% for evenement in data_proposition.evenements %}
              <p>{{evenement}}</p>
              {% endfor %}

            </div>
            
          </div>
        </div>
      </div>

        <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>





  <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title"> Demandes de compétences:</span>
              {% for competence in data_proposition.competence %}
              <p>{{competence}}</p>
              {% endfor %}

            </div>
            
          </div>
        </div>
      </div>

        <div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>





       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Createur</span>
   		
              <p>{{data_proposition.createur}}</p>
              
             

            </div>
            
          </div>
        </div>
      </div>



 {% endblock %}




