{% load static %}

<!DOCTYPE html>

<html lang="fr">
  <head>
        <meta charset="utf-8">
        <meta name="description" content="Varthing - Le réseau social qui vous permet d'agir">

        <title>
          {% block title %}Varthing{% endblock %}
        </title>
        {% block styles %}

          <link rel="stylesheet" type="text/css" href="{% static 'revendication/css/base.css' %}" >
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link type="text/css" rel="stylesheet" href="{% static 'bower_components/materialize/dist/css/materialize.min.css' %}"  media="screen,projection"/>
          <link rel='stylesheet' href="{% static 'revendication/fullcalendar-3.5.1/fullcalendar.min.css' %}"/>
          <link rel="stylesheet" href="{% static 'revendication/js/vectormap.css' %}" type="text/css" media="screen"/>
          <link rel="stylesheet" href="{% static 'bower_components/DataTables/media/css/jquery.dataTables.min.css'%}">
          <link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'%}">


        {% endblock %}

        {% block imports_librairies %}
            <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'bower_components/moment/min/moment.min.js' %}" ></script>
           <script src="{% static 'bower_components/DataTables/media/js/jquery.dataTables.min.js'%}"></script>
            <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.js' %}" ></script>
            <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}" ></script>
             <script src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}" ></script>
            <script src="{% static 'revendication/js/sigma.min.js' %}"></script> 
            <script src="{% static 'revendication/js/sigma.parsers.json.min.js' %}"></script>
           <script src="{% static 'revendication/js/vectormap.min.js' %}"></script> 
           <script src="{% static 'revendication/js/departements.min.js' %}"></script> 
         
    
        
    


        {% endblock imports_librairies %}

  </head>    
  <body>   
        {% block content %}

                {% block navigation %}
                  <nav class="white" role="navigation">
                        <div class="nav-wrapper container">
                            <ul class="left hide-on-med-and-down">
                                <a href="" class="brand-logo center"><img class="materialboxed" width="100" src="{%  static 'revendication/images/logo_varthing.png' %}" /> </a>
                                <li><a href="{% url 'page_accueil' %}" style="color: black">accueil</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'page_tableau_de_bord' %}" style="color: black">tableau de bord</a></li>
                                {% endif  %}
                                <li class="active"><a href="collapsible.html"></a></li>
                                

                              </ul>

                            <ul class="right hide-on-med-and-down">
                              <li><a href="#">A propos</a></li>

                              {% if user.is_authenticated %}
                              <li><a href="{% url 'page_deconnexion' %}" style="color: black">se déconnecter</a></li>
                              {% else %}
                              <li><a href="{% url 'page_authentification' %}" style="color: black">Connexion</a></li>
                              <li><a href="{% url 'page_creer_utilisateur' %}" style="color: black">Inscription</a></li>
                              {% endif %}
                            </ul>

                         </div>

                  </nav>
                {% endblock navigation%}

                                                                          
                {% block centre %}

                      {% block rubrique_titre %} 
                        <div class="col s12 "> 
                            <div class="section no-pad-bot">
                              <div class="container">
                                <br><br>
                                <h1 class="header center red-text text-lighten-1"> 
                                {% block titre_central%}
                                {% endblock %}
                                </h1>
                              </div>
                        </div>
                      {% endblock rubrique_titre %}      

                      {% block zone_centrale %}
                      {% endblock zone_centrale %}



                      {% block bas%}
                      
                        <!--<div class= "section"></div>
                        <div class="parallax-container valign-wrapper">
                          <div class="parallax">
                            <img src="/static/revendication/images/logo_galaxie.png" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 268px, 0px);">
                          </div>
                        </div>
                        -->
                        <div class = "row" >
                          <div class= "col s12"> 
                                <footer class="page-footer #80cbc4 grey">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col s12">
                                        Session de {{user}}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="footer-copyright">
                                      <div class="container #80cbc4 ">
                                        © 2014 Copyright Text
                                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                                      </div>
                                  </div>
                                </footer>
                          </div>
                        </div>
                      {% endblock bas%}
                {% endblock centre %}




                {% block script %}
                  <script> var evenements= "{{datas.calendrier}}"; </script>
                  <script> var completion = "{{datas.autocompletion}}" </script>
                  <script src="{% static "revendication/js/pageType.js" %}"> </script>
                {% endblock script %} 

        {% endblock content %}
  </body>
</html>


<!--_____________________________-->





