{% extends 'revendications/page_type.html' %}
{% load static %}


{% block titre_central%}
Créer une revendication
{% endblock %}


{% block contenu_central%}

  <div class = "section"> </div>
       <div class = "section"> </div>
        <div class = "section"> </div>
         <div class = "section"> </div>

 <form>
    <div class="input-field col s8">
    <textarea id="recherche" class="materialize-textarea" class="validate" ></textarea>
    <label for="recherche" >vérifier si votre idée n'existe pas dans le champ de recherche</label>
    </div>



     <div class="col s4">
       <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">trending_down</i></a>
        <input type="button" id="lien" value="aller sur la page de cette proposition" />
       </div>

    <div class = "section"> </div>
     <div class = "section"> </div>
    
     <div class = "section"> </div>
      <div class = "section"> </div>
       <div class = "section"> </div>
        <div class = "section"> </div>
         <div class = "section"> </div>
     <div class = "section"> </div>
      <div class = "section"> </div>
       <div class = "section"> </div>
       </div>

      




     <div class="input-field col s6">
    <textarea id="tags" class="materialize-textarea" class="validate" ></textarea>
    <label for="tags" >Entrez un nouveau mot clé</label>
    </div>
     <a class="btn-floating btn-large waves-effect waves-light red" id="nouveau_tag" value="nouveau tag" onclick= 
          "
          
          var tags = document.getElementById('tags');
          var tags_ajoutes = $('#liste_tag').text();
         
          liste = tags_ajoutes  + tags.value + '/'; 
          tags.value = '';
          $('#liste_tag').text(liste);
        
          "/>
          <i class="material-icons">add</i>
          </a>

       <a class="btn-floating btn-large waves-effect waves-light red" id="suppr_tag" onclick= 
          "
          
          
          $('#liste_tag').text('');
        
          "/>
          <i class="material-icons">forward</i> 
          </a>



</form>

       <div class="row">
        <div class="col s4">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Mot clés:</span>
            
              <span id = 'liste_tag' > </span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
            







<form2>
<form action="/revendication/creer_une_revendication.html " method="post">
    {% csrf_token %}
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <input id="intitule" type="tel" class="validate">
          <label for="comment">Intitule</label>
        </div>
      </div>
    </form>
  </div>
    <input type="submit" value="Valider" onclick= 
    	"alert ('merci d avoir crée une revendication');
    	document.location.href = 'http://localhost:8000/revendication/mes_rendications.html'"
    	/>
</form>
</form2>


{% endblock %}




{% block scripts %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script>
   

              var completion = "{{liste}}"
                var reg=new RegExp("_", "g");
                var tableau=completion.split(reg);

                $('#recherche').autocomplete({source : tableau });
                $('#recherche').trigger('autoresize');

                var lien = document.getElementById('lien');
                var recherche = document.getElementById('recherche');
                lien.onclick = function() {
                document.location.href = "consult_revendications.html?ennonce=" + recherche.value
                 };

              
             

</script>



{% endblock %}



