{% extends 'revendications/page_accueil.html' %}
{% load static %}


{% block titre_central%}
TABLEAU DE BORD
{% endblock %}


{% block menu_gauche %}
 {% endblock %}


 {% block image_parallax %}
{% endblock %}



{% block contenu_central%}


	<div class= "section"> </div>
	<div class= "section"> </div>
	<div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">mes revendications</span>
              {% for proposition in datas.revendications %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
          
          </div>
        </div>
      </div>



<div class= "section"> </div>
  <div class= "section"> </div>
  <div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">mes suggestions</span>
              {% for proposition in revendications_proches %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
          
          </div>
        </div>
      </div>




      <div class= "section"> </div>


       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">mes documents</span>
              {% for proposition in propositions_populaires %}
                <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}

            </div>
          
          </div>
        </div>
      </div>

        <div class= "section"> </div>


       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">mes évenements et petitions
            </span>
   		
             {% for evenement in datas.evenement %}
              <p>{{evenement.titre}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}
               {% for petition in datas.petition %}
              <p>{{petition.titre}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}
             
              
             

            </div>
           
          </div>
        </div>
      </div>


 <div class= "section"> </div>

       <div class="row">
        <div class="col s12">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">mes compétences:
            </span>
      
             {% for proposition in proposition_en_acceleration %}
              <p>{{proposition}}<a href="page_revendication.html?ennonce={{proposition}}"><i class="material-icons">  &nbsp pageview</i></a></p>
              {% endfor %}
              
             

            </div>
          
          </div>
        </div>
      </div>
      

 {% endblock %}




