{% extends "revendications/base.html" %} 


{% block barre_centrale %}  

	<p>Vous êtes sur le point de supprimer la pétition <strong>"{{petition.titre}}"</strong>.<br/>
	<strong>Attention, cette action est IRRÉVERSIBLE !</strong></p>

	<form action="{% url 'supprimer_une_petition' petition.id %}" method="post">
   		{% csrf_token %}
	    <input type="submit" value="Confirmer la suppression"  />
	</form>

    <h1>Détails de la pétition</h1>
    <p>Titre : {{petition.titre}}</p>

    <p>Date de création :{{petition.date_creation}}</p>
    <p>Date d'échéance :{{petition.date_echeance}}</p>

    <p>Revendication(s) liée(s) :</p>
    <ul>
    {%for prop in propositions %}
        <li>{{prop}}</li>
    {% endfor %}
    </ul>

    <p>Description :<br/>{{petition.description}}</p>

    <p>Signataires</p>
    <ul>
        {%for signataire in signataires %}
        <li>{{signataire}}</li>
        {% endfor %}
    </ul>

    <p>Nombre de signataires : {{petition.nb_signataires}}<br/>
    Nombre de signataires à atteindre : {{petition.objectif_de_signataires}}<br/>
    Taux d'atteinte de l'objectif : {{petition.taux_objectif}} %</p>


       

{% endblock %}


